@charset "utf-8";
/* CSS Document */

/* css reset */
html,body,ul,li,ol,dl,dd,dt,p,h1,h2,h3,h4,h5,h6,form,fieldset,legend,img{
	margin:0;
	padding:0;
}
body,html{
	
	font:16px "微软雅黑",Airal;
}
h1,h2,h3,h4,h5,h6,b,strong{
	font-weight:normal;
}
img{
	vertical-align:top;
}
i,em{
	font-style:normal;
}
li{
	list-style:none;
}
a{
	text-decoration:none;
	color:#333333;
}
input{
	outline:none;
}
.clearfix{
	*zoom:1;
}
.clearfix:after{
	content:' ';
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
}