@charset "UTF-8";
.w_1240{width: 1240px;margin: 0 auto;}

/* banner2*/
.w_lisbanner2 li{
    float: left;
}
.w_lis2banner2 dl{
    float: left;
}

.w_lis2banner2 dl img{
    display:inline-block;
}

.w_lis2banner2{
    overflow: hidden;
}
