@charset "UTF-8";
.w_maincon{width: 1240px;margin: 0 auto;}
.w_main{
    background: #414141;
}
.w_maincon{
    height: 42px;
    background: #414141;
    position: relative;
}
ul li{
    float: left;
}
.ps{
    float: left;
    display: flex;
    justify-content: space-around;
    width: 110px;
    height: 42px;
    text-align: center;
    line-height: 42px; 
    font-size: 18px;
    margin-left: 20px;
    background: #414141;
}
.ps:hover p{
    cursor: pointer;
    width: 110px;
    height: 42px;
    background: white;
}
.ps:hover .uls{
    display: block;
}


.uls{
    /*  .uls{ */
    width: 100%;
    height: 322px;
    position: fixed;
    top: 42px;
    left: 100px;
    overflow: hidden ;
    display: none;
    border-bottom: 3px solid #414141;
}
.uls-con{
    height: 322px;
    margin: 0 auto;
    display: flex;
}
.uls-con .ulss{
    /* list-style-type: none; */
    width: 171px;
    height: 322px;
    font-size: 15px;
}

.uls-con .ulss .ols{
    display: flex;
    /* 灵活的项目将垂直显示，正如一个列一样 */
    flex-direction: column;
    justify-content: center;
    line-height: 30px;
    margin: 20px 10px 0px 0px;
}
.uls-con .ulss strong{
    margin: 5px 10px 30px 30px;
    display: flex;
    justify-content: center;
    color: black;
}
.uls-con .ulss .ols dd{
    margin: 0px 0px 0px 30px;
}

.uls-con .ulss .ols:hover{
    cursor: pointer;
}
 .uls-con .ulss:not(:nth-child(3)) {
    border-right: 2px solid #d2d5e4;
}

.uls-con .uls4{
    margin: 22px 0px 0px 30px;
}

.uls-con .uls4:hover{
    cursor: pointer;
}

.gao .uls4{
    margin: 22px 0px 0px 377px;
}

.gao .uls-con .ulss:not(:nth-child(1)) {
    border-right: 2px solid #d2d5e4;
}

.nuo .uls4{
    margin: 22px 0px 0px 203px;
}
.nuo .uls-con .ulss:not(:nth-child(2)) {
    border-right: 2px solid #d2d5e4;
}
