#d_box1 {
  width: 960px;
  height: 460px;
  padding: 25px 0 0 90px;
  margin: 0 auto;
}
#d_box1 .d_img1 {
  width: 400px;
  height: 400px;
  margin-right: 120px;
  float: left;
}
#d_box1 .d_right {
  padding-top: 35px;
  float: left;
}
#d_box1 .d_right strong {
  font-size: 18px;
  color: #000;
  line-height: 38px;
}
#d_box1 .d_right p {
  font-size: 10px;
  line-height: 24px;
  margin-bottom: 10px;
}
#d_box1 .d_right .d_div1 {
  height: 57px;
  box-sizing: border-box;
  border-top: 1px solid #b3b3b3;
  border-bottom: 1px solid #b3b3b3;
  width: 330px;
  line-height: 55px;
  font-size: 11px;
}
#d_box1 .d_right .d_div1 span {
  font-size: 20px;
  line-height: 55px;
}
#d_box1 .d_right .d_div2 {
  padding-top: 23px;
  overflow: hidden;
  font-size: 12px;
  color: #000;
  line-height: 40px;
}
#d_box1 .d_right .d_div2 img {
  width: 40px;
  height: 40px;
  box-sizing: border-box;
  border: 2px solid #7e7e7e;
}
#d_box1 .d_right .d_div3 {
  padding-top: 25px;
  height: 65px;
  font-size: 12px;
  color: #000;
  line-height: 40px;
  margin-bottom: 25px;
}
#d_box1 .d_right .d_div3 span {
  height: 40px;
  line-height: 40px;
  float: left;
}
#d_box1 .d_right .d_div3 .d_dd {
  height: 40px;
  float: left;
}
#d_box1 .d_right .d_div3 .d_dd .d_txt {
  width: 40px;
  height: 40px;
  border: 1px solid #8d8d8d;
  box-sizing: border-box;
  float: left;
  text-align: center;
  font-size: 16px;
}
#d_box1 .d_right .d_div3 .d_dd .d_ddd {
  float: left;
  margin-bottom: 25px;
  position: relative;
}
#d_box1 .d_right .d_div3 .d_dd .d_ddd .d_b1 {
  position: absolute;
  top: 0;
  height: 20px;
  width: 20px;
  border: 1px solid #8d8d8d;
  border-left: 0;
  position: absolute;
  box-sizing: border-box;
  line-height: 20px;
  background: #fff;
}
#d_box1 .d_right .d_div3 .d_dd .d_ddd .d_b1:hover {
  background: #eee;
}
#d_box1 .d_right .d_div3 .d_dd .d_ddd .d_b2:hover {
  background: #eee;
}
#d_box1 .d_right .d_div3 .d_dd .d_ddd .d_b2 {
  position: absolute;
  top: 20px;
  height: 20px;
  width: 20px;
  border: 1px solid #8d8d8d;
  border-top: 0;
  border-left: 0;
  box-sizing: border-box;
  line-height: 20px;
  background: #fff;
}
#d_box1 .d_right .d_div4 {
  height: 40px;
  overflow: hidden;
  margin-bottom: 25px;
}
#d_box1 .d_right .d_div4 .d_span1 {
  float: left;
  width: 160px;
  height: 40px;
  text-align: center;
  line-height: 38px;
  background: #414141;
  color: #fff;
  border: 1px solid #414141;
  box-sizing: border-box;
  font-size: 14px;
  transition: all 0.8s;
}
#d_box1 .d_right .d_div4 .d_span1:hover {
  background: #fff;
  color: #000;
}
#d_box1 .d_right .d_div4 .d_span2 {
  float: left;
  margin-left: 9px;
  width: 160px;
  height: 40px;
  text-align: center;
  line-height: 38px;
  background: #fff;
  color: #000;
  border: 1px solid #414141;
  box-sizing: border-box;
  font-size: 14px;
}
#d_box1 .d_right i {
  font-size: 12px;
  height: 18px;
  line-height: 18px;
}
