@charset "UTF-8";
.w_topcon,.w_blackcon{width: 1240px;margin: 0 auto;}
.w_topheader{
    background: #414141;
}
.w_topcon{
    height: 38px;
    background: #414141;
    position: relative;
}
/* 中国图标块 */
.w_left .w_leftd{
    width: 130px;
    height: 38px;
    display:flex;
    float: left;
    position: absolute;
    /* z-index: 10; */
    cursor: pointer;
}
.w_leftd:hover .w_leftln{
    background: #606060;
    display: block;
}
.w_left .w_leftl{
    width: 128px;
    height: 38px;
    float: left;
    border-right: 2px solid #262626;
}
.w_leftl  p{
    line-height: 38px; 
    text-align: center;
    font-size: 18px;
    color: #606060;
    margin: 0px 0px 0 -61px;
}
.w_leftl img{
    margin: -48px 0px 0 68px;
}
 .w_leftln{
    width: 128px;
    height: 38px;
    display: none;
    position: absolute;
    top: 0;
    left: 100px;
    background: #414141;
    /* margin: 91px 0px 0px -132px; */
    margin: 39px 0px 0px -100px;
}

.w_leftln img{
    margin:5px 47px 0 68px;
}
/* 第二个 */
.w_leftr{
    width: 130px;
    height:38px ;
    line-height: 38px;
    text-align: center;
    float: left;
    font-size: 22px;
    color: #b8b7b8;
    margin-left: 144px;
    border-right: 2px solid #262626;
    cursor: pointer;
}
.w_leftr span{
    color: #eaeaea;
}
/* 第三个 */
.w_leftr1{
    width: 127px;
    height:38px ;
    border-right: 2px solid #262626;
    margin:0px 0px 0 276px;
    text-align: center;
}
.w_leftr1:hover{
    background: pink;
}
/* 第四个 */
.w_leftr2{
    width: 130px;
    height:38px ;
    font-size: 18px;
    text-align: center;
    line-height: 38px;
    margin-left: 6px;
    margin:-38px 0px 0 403px;
    cursor: pointer;
}
.w_leftr2:hover{
    background: white;
}
.w_leftr2 span{
    color: #656565;
}
/* 右边矢量图部分 */
.w_right{
    width: 104px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    float: left;
    display: flex;
    position: absolute;
    top: 9px;
    right: 43px;
    font-size: 20px;
}
.w_right p{
    color: white;
    cursor: pointer;
}
/* 第一个矢量图  */
.w_rightl {
    width: 20px;
    height: 38px;
    margin: 0px 1px 0px -19px;  
}
.w_rightl:hover .w_rightlf{
    display: block;
}
/* 隐藏部分 */
.w_rightlf{
    width: 302px;
    height: 172px;
    background: white;
    position: fixed;
    display: none;
    overflow: hidden ;
    margin: 13px 0px 0px -154px;
}
/* 登陆 */
.w_rightlfp1{
    width: 269px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    border-bottom: 1px solid #d8d8d8;
    margin-left: 18px;
}
.w_rightlfp2 img{
    width: 78px;
    /* width: 1340px; */
    height: 78px;
    margin: 21px 22px 0px -167px;
}
.w_txt{
    font-size: 14px;
    width:190px;
    /* width:1600px; */
    height: 99px;
    margin:-82px 22px 0px 122px;
}


/* 第二个矢量图  */
.w_rightz {
    width: 55px;
    height: 20px;
    border-left: 1px solid #262626;
    border-right: 1px solid #262626;
    margin: 0px  4px  0px  4px;
}
.w_rightz p{
    margin: 0px  4px  0px  4px;
}
/* 第三个矢量图  */
.w_rightr {
    margin-left:2 px;
}

.w_black{
    background: #414141;
    border-top: 4px solid #262626;
}
.w_blackcon{
    height: 97px;
    background: #414141;

    text-align: center;
    line-height: 97px;
} 



/* 固定在右边 */
.w_pang{
    position: fixed;
    top: 433px;
    right: 4px;
    cursor: pointer;
}
/* 二维码 */
.w_er {
    width: 46px;
    height: 46px;
    background: #969696;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 10px;
}
.w_er:hover{
    background: #262626
}
.w_er .tu{
    font-size: 28px;
    text-align: center;
    line-height: 46px;
}
.w_er2{
    width: 137px;
    height: 203px;
    margin: -79px  60px  0px  -139px;
    position: absolute;
    display: none;
}
.w_er:hover  .w_er2{
    display: block;
}
/* 联系 */
.w_lian{
    width: 46px;
    height: 46px;
    background: #969696;
    margin-bottom: 10px;
    cursor: pointer;
    border-radius: 10px;
}
.w_lian:hover{
    background: #262626
}
.w_lian .tu{
    font-size: 28px;
    text-align: center;
    line-height: 46px;
}
.w_lian2{
    width: 106px;
    height: 110px;
    margin: -37px  60px  0px  -117px;
    border: 1px solid #b8b7b8;
    position: absolute;
    display: none;
}
.w_lian2 strong{
    height: 70px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    margin-left: 3px;
    margin: 0px  0px  0px  10px;
}
 .w_lian2 .span1{
    width: 82px;
    height: 30px;
    font-size: 14px;
    text-align: center;
    line-height: 30px;
    background: #606060;
    border-radius: 10px;
    /* position: absolute; */
    margin: 0px  0px  0px  10px;
}
.w_lian:hover  .w_lian2{
    display: block;
}

.shang{
    width: 46px;
    height: 46px;
    background: #969696;
    display: none;
    cursor: pointer;
    border-radius: 10px;
}
.shang:hover{
    background: #262626
}
.shang .tu{
    font-size: 28px;
    text-align: center;
    line-height: 46px;
}
/* .hai{
    height: 3000px;
    background: pink;
} */